.form-group {
   display: flex;
   flex-direction: column;
}

.add-comment .form-container {
   padding: 2rem;
   background: white;
   border-radius: var(--border-radius);
}

.add-comment textarea {
   outline: none;
   border: none;
   border-bottom: 1px solid var(--gray-2);
   transition: border-color 0.3s;
   resize: none;
}
.add-comment textarea:focus {
   border-color: var(--primary);
}
.add-comment textarea::placeholder {
   font-size: 1.1rem;
   font-family: "montserrat";
}

.edit-article,
.new-article {
   border-radius: var(--border-radius);
   display: flex;
   gap: 1rem;
   flex-direction: column;
   align-items: center;
}

.edit-article form,
.new-article form {
   width: 75%;
}

.edit-article .form-container {
   border-radius: var(--border-radius);

   background: var(--color-primary);
   padding: 2rem;
}

.new-article input,
.new-article textarea,
.edit-article input,
.edit-article textarea {
   padding: 0.75rem 0;
   outline: none;
   border: none;
   border-bottom: 1px solid var(--gray-2);
   background: inherit;
   border-radius: 0;
   color: var(--gray);
   transition: border-color 0.3s;
   resize: none;
}

.new-article .form-container {
   background: var(--color-primary);
   border-radius: var(--border-radius);
   padding: 2rem;
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
}

.new-article input:focus,
.new-article textarea:focus,
.edit-article input:focus,
.edit-article textarea:focus {
   border-color: var(--primary);
}

.edit-article label {
   margin-bottom: 0.5rem;
}

.main-container h1 {
   margin-bottom: 1rem;
}

.articles {
   /* width: 100%; */
   display: flex;
   align-items: center;
   flex-direction: column;
}

.articles h3 {
   width: 75%;
   margin-bottom: 1rem;
}

.articles .article {
   display: flex;
   color: var(--gray-dark);
   flex-direction: column;
   background: var(--color-primary);
   margin-bottom: 1rem;
   padding: 2rem;
   width: 75%;
   max-height: 500px;
   border: 1px solid var(--gray-2);
   border-radius: var(--border-radius);
   transition: box-shadow 0.3s;
   position: relative;
   transition: border-color 0.3s;
}

.article:hover {
   border-color: var(--primary);
}

.content {
   overflow: hidden; /* Masque le contenu excédentaire */
   position: relative; /* Crée un contexte pour le pseudo-élément */
   max-height: 12.5em; /* Hauteur maximale du contenu visible (4em est approximativement 4 lignes de texte) */
}

.article-one .content{
   max-height: max-content;
}

.content::after {
   content: ""; /* Texte du lien "Lire la suite" */
   position: absolute;
   bottom: 0;
   right: 0;
   padding: 0 1em; /* Espacement du lien */
}

.article:hover {
   box-shadow: none;
}

.article-one {
   display: flex;
   color: var(--gray-dark);
   flex-direction: column;
   background: var(--color-primary);
   padding: 2rem;
   border-radius: var(--border-radius);
   margin-bottom: 1.5rem;
   overflow: hidden;
   flex: 1;
}

.block {
   margin: 0 auto;
   width: 75%;
}

.article-one .content {
   max-width: 850px;
   word-wrap: break-word;
}

.main-article {
   flex: 1;
}

.article .separator,
.article-one .separator,
.comment .separator {
   border-top: 1px solid var(--gray-light);
   margin: 1rem 0;
}

.comment {
   background: var(--color-primary);
   padding: 2rem;
   border-radius: var(--border-radius);
}

.article-author {
   display: flex;
   align-items: center;
   gap: 0.75rem;
}

.article-author-picture {
   width: 35px;
   height: 35px;
   border-radius: 50%;
   object-fit: cover;
}

.informations p {
   display: flex;
   align-items: center;
}

.main-container h1 {
   color: var(--gray-dark);
}

.main-container h2 {
   margin-bottom: 0.75rem;
}

.name-author {
   margin-left: 0.25rem;
   color: var(--primary);
   font-weight: 600;
}

.new-article form,
.edit-article form,
.add-comment {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.article .informations,
.article-one .informations {
   display: flex;
   justify-content: space-between;
}

.chapo{
   margin-bottom: 1rem;
   font-weight: 500;
   font-size: 1rem
}

.date {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.date p {
   font-size: 0.8rem;
}

@media only screen and (max-width: 1000px) {
   .articles {
      padding: 1rem;
   }
   .articles h3,
   .articles .article {
      width: 100%;
   }
   .articles .article {
      padding: 1rem;
   }

   .block {
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
   }

   .edit-article,
   .new-article {
      padding: 1rem;
   }
   .edit-article form,
   .new-article form {
      width: 100%;
   }
   .edit-article form .form-container,
   .new-article form .form-container {
      padding: 1rem;
   }
}
