.comment-container {
   margin-top: 2rem;
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.article-comment{
   width: 75%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.comments {
   padding:0 1rem ;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 1rem;
   flex: 1;
}


.comments .article{
   display: flex;
   color: var(--gray-dark);
   flex-direction: column;
   background: var(--color-primary);
   margin-bottom: 1rem;
   padding: 2rem;
   margin: 0 auto;
   max-height: 500px;
   width: 100%;
   border: 1px solid var(--gray-2);
   border-radius: var(--border-radius);
   transition: box-shadow 0.3s;
   position: relative;
   transition: border-color 0.3s;
}


.comment .informations {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.comment-body{
   background: white;
   padding: 1rem ;
   width: 95%;
   border-radius: 0 0 3px 3px;
   border: 1px solid var(--gray-2);
   border-top: transparent;
   display: flex;
   flex-direction: column;
}

.comment-body .separator{
   border-top: 1px solid var(--gray-light);
   margin: 1rem 0;
}

.comment-group{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.success-comment {
   width: max-content;
   color: var(--success);
   padding-top: 1rem;
   border-radius: var(--border-radius);
   font-size: 0.7rem;
}