footer {
   background: var(--footer-background);
}

.footer-container {
   max-width: 1200px;
   margin: 0 auto;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--color-primary);
}
