.home {
   display: flex;
   flex-direction: column;
   gap: 5rem;
}

.presentation-container {
   margin-top: 4rem;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: var(--border-radius);
   padding: 1.5rem 0;
}

.presentation-left,
.presentation-right {
   width: 45%;
   padding: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.presentation-left {
   height: 500px;
   z-index: 5;
   gap: 2rem;
   border-radius: var(--border-radius);
   background: var(--primary);
}

.presentation-right {
   height: 450px;
   padding: 1rem 3rem;
   font-size: 1rem;
   gap: 1.5rem;
   line-height: 1.4;
   transform: translateX(-5px);
   border-radius: var(--border-radius);
   background: var(--color-primary);
}

.presentation-right i {
   font-size: 2rem;
   color: var(--primary);
}

.presentation-right p {
   text-align: center;
}

.presentation-left .name {
   font-size: 2rem;
}
.presentation-left .job {
   font-size: 1.5rem;
}

.presentation-left .top {
   display: flex;
   flex-direction: column;
   align-items: center;
   color: var(--color-primary);
}

.presentation-left img {
   height: 275px;
   width: 200px;
   object-fit: cover;
   border-radius: var(--border-radius);
}

.home .contact {
   display: flex;
   align-items: center;
   margin: 0 auto;
   margin-bottom: 2rem;
}

.contact-right {
   background: var(--primary);
   border-radius: var(--border-radius);
   width: 375px;
   height: 450px;
   padding: 2rem;
   font-size: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   z-index: 5;
   gap: 2rem;
}

.contact-right .city,
.contact-right .email,
.contact-right .website {
   display: flex;
   align-items: center;
   color: var(--color-primary);
}

.strong {
   font-weight: 700;
}

.contact-right h2 {
   color: var(--color-primary);
}

.contact-right i {
   border-radius: 50%;
   width: 50px;
   height: 50px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   font-size: 1.5rem;
   margin-right: 1rem;
   background: #4fe7e2;
   color: var(--color-primary);
}

.contact-left {
   height: 400px;
   width: 600px;
   background: var(--color-primary);
   transform: translateX(5px);
   display: flex;
   flex-direction: column;
   border-radius: var(--border-radius);
   padding: 2rem;
}

.contact h2 {
   font-weight: 400;
}

.contact h2 span {
   color: var(--primary);
   font-weight: 500;
}

.contact form {
   height: 100%;
   gap: 0.75rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.contact .form-input {
   display: flex;
   justify-content: space-between;
   font-size: 1.1rem;
}

.contact input::placeholder,
.contact textarea::placeholder {
   font-size: 1.1rem;
   font-family: "montserrat";
}

.name-field {
   width: 35%;
}

.email-field {
   width: 62%;
}

.input-contact,
.textarea-contact {
   padding: 0.75rem 0;
   outline: none;
   border: none;
   border-bottom: 1px solid var(--gray-2);
   background: inherit;
   border-radius: 0;
   color: var(--gray);
   transition: border-color 0.3s;
   width: 100%;
}

.textarea-contact {
   resize: none;
}

.input-contact:focus,
.textarea-contact:focus {
   border-color: var(--primary);
}

.fa-arrow-down-long {
   margin: 0 auto;
   color: var(--primary);
   font-size: 2rem;
}

@media only screen and (max-width: 1000px) {

   .presentation-container {
      flex-direction: column;
      margin: 0 auto;
      width: 100%;
      padding: 1rem;
      align-items: flex-start;
   }
   .presentation-left {
      width: 95%;
      gap: 4rem;
      height: auto;
      flex-direction: row;
      height: 275px;
   }
   .presentation-left img {
      height: 200px;
      width: 175px;
      display: block;
   }

   .presentation-right {
      height: 275px;
      width: 95%;
      margin-left: auto;
      padding: 1rem;
      gap: 1rem;
      transform: translateY(-20px);
      position: relative;
      z-index: 15;
   }
   .presentation-right p:nth-child(1) {
      width: 60%;
   }
   .home .name {
      font-size: 1.5rem;
      display: flex;
   }
   .home .job {
      font-size: 1.2rem;
   }

   .home .contact {
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
      padding: 1rem;
      margin-bottom: 0;
   }
   .home .contact .contact-left,
   .home .contact .contact-right {
      width: 95%;
      padding: 1rem;
      font-size: 0.9rem;
   }

   .home .contact .contact-left {
      order: 2;
      height: 275px;
      justify-content: space-between;
      margin-left: auto;
      transform: translateY(-20px);
      position: relative;
      z-index: 15;
   }
   .home .contact .contact-right {
      order: 1;
      height: 275px;
      gap: 1rem;
   }

   .home .contact .contact-right i {
      width: 30px;
      height: 30px;
      font-size: 0.9rem;
   }

   .input-contact,
   .textarea-contact {
      padding: 0.25rem 0;
   }
   .textarea-contact {
      height: 80px;
   }
   .mt-10 {
      margin-top: 0 !important;
   }
   .home .fa-arrow-down-long {
      display: none;
   }
}

@media only screen and (max-width: 600px) {
   .presentation-left {
      gap: 1rem;
      flex-direction: column;
   }
   .presentation-left img{
    height: 150px;
   }

   .presentation-right {
      font-size: 0.8rem;
   }
   .presentation-right p:nth-child(1) {
      width: 100%;
   }

   .home .name {
      font-size: 1.2rem;
   }
   .home .job {
      font-size: 1rem;
   }
}
