header {
   /* border: 1px solid red; */
   padding: 1rem 0;
   background: var(--color-primary);
   box-shadow: var(--box-shadow);
}

.nav-container {
   display: flex;
   align-items: center;
   max-width: 1200px;
   margin: 0 auto;
   justify-content: space-between;
   /* width: 100%; */
}

header nav ul {
   display: flex;
}
header nav ul li {
   margin: 0 0.5rem;
}
header nav ul li a {
   display: block;
}
