header {
   padding: 0.25rem 0;
   background: var(--color-primary);
   border-bottom: 1px solid var(--gray-2);
   position: relative;
}

.rotate {
   transform: rotate(180deg);
}

.nav-container {
   display: flex;
   align-items: center;
   max-width: 1200px;
   margin: 0 auto;
   justify-content: space-between;
   align-items: center;
}

.nav ul {
   display: flex;
   gap: 0.75rem;
}

.active-link {
   background: var(--primary-light) !important;
}

.nav ul li a {
   font-size: 1.1rem;
   padding: 0.75rem 1rem;
   transition: color 0.3s;
}

.nav ul li a:hover {
   color: var(--primary);
}

header .navbar {
   position: relative;
   margin-right: 1rem;
}
header .navbar .responsive-nav {
   display: none;
}

header .navbar ul {
   display: flex;
}

header .navbar ul li {
   margin: 0 0.5rem;
}

header .navbar ul li a {
   display: block;
}

.menu-button {
   cursor: pointer;
   padding: 0.2rem;
   display: flex;
   height: 40px;
   align-items: center;
   gap: 0.75rem;
   border-radius: 50px;
   transition: 0.3s background;
   background-color: var(--primary);
}
.menu-button-responsive {
   cursor: pointer;
   padding: 0.2rem;
   display: none;
   height: 40px;
   width: 40px;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   transition: 0.3s background;
   background-color: var(--primary);
}

.menu-button:hover {
   background: var(--primary-light);
}

.menu-button:hover i {
   color: var(--primary);
}
.menu-button-responsive:hover {
   background: var(--primary-light);
}

.menu-button-responsive:hover i {
   color: var(--primary);
}

.menu-button img {
   width: 35px;
   height: 35px;
   object-fit: cover;
   border-radius: 50%;
}

.menu-button i {
   margin-right: 0.75rem;
   color: white;
   transition: color 0.3s, transform 0.3s;
}
.menu-button-responsive i {
   color: white;
   transition: color 0.3s, transform 0.3s;
}

.overlay {
   border: 1px solid blue;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   pointer-events: visible;
   z-index: 9;
}

.navbar-toggle {
   animation: showMenu 0.3s forwards;
   transform-origin: top;
   border-radius: var(--border-radius);
   position: absolute;
   z-index: 10;
   right: 0;
   width: max-content;
   top: 60px;
   background: var(--color-primary);
   display: flex;
   flex-direction: column;
   box-shadow: var(--box-shadow);
}

.navbar-toggle ul {
   display: flex;
   flex-direction: column;
}

.navbar-toggle ul li a {
   display: flex;
   align-items: center;
   gap: 0.5rem;
   transition: background 0.3s;
}

.navbar-toggle ul li a:hover {
   background: var(--primary-light);
}
.navbar-toggle ul li a i {
   transition: color 0.3s;
}
.navbar-toggle ul li a:hover i {
   color: var(--primary);
}

.navbar-toggle p,
.navbar-toggle ul li a {
   padding: 0.5rem;
}
.navbar-toggle-responsive {
   animation: showMenu 0.3s forwards;
   transform-origin: top;
   border-radius: var(--border-radius);
   position: absolute;
   z-index: 10;
   right: 0;
   width: max-content;
   top: 60px;
   background: var(--color-primary);
   display: flex;
   flex-direction: column;
   box-shadow: var(--box-shadow);
}

.navbar-toggle-responsive ul {
   display: flex;
   flex-direction: column;
}

.navbar-toggle-responsive ul li a {
   display: flex;
   align-items: center;
   gap: 0.5rem;
   transition: background 0.3s;
}

.navbar-toggle-responsive ul li a:hover {
   background: var(--primary-light);
}
.navbar-toggle-responsive ul li a i {
   transition: color 0.3s;
}
.navbar-toggle-responsive ul li a:hover i {
   color: var(--primary);
}
.navbar-toggle-responsive p,
.navbar-toggle-responsive ul li a {
   padding: 0.5rem;
}

.navbar-toggle .separator {
   border-top: 1px solid var(--gray-light);
}

.invisible {
   display: none;
}

.notification {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   background: var(--warning);
   color: var(--color-primary);
   width: 20px;
   height: 20px;
   border-radius: 50%;
}

@media only screen and (max-width: 1000px) {
   header .navbar > ul > li {
      display: none;
   }
   header .navbar .responsive-nav {
      display: flex;
   }
   .menu-button-responsive {
      display: flex;
   }
}
@media only screen and (max-width: 600px) {
   .nav ul li a {
      font-size: 0.9rem;
      padding: 0.5rem 0.75rem;
   }

   header .logo-container {
      margin-left: 0.25rem;
   }
   header .navbar {
      margin-right: 0.25rem;
   }

   .nav ul {
      gap: 0;
   }

   .menu-button {
      height: max-content;
      gap: 0.25rem;
   }
   .menu-button i {
      margin-right: 0.25rem;
   }

   .menu-button img {
      width: 25px;
      height: 25px;
   }

   .menu-button-responsive {
      height: 25px;
      width: 25px;
   }
   .menu-button-responsive i {
   }
}

@keyframes showMenu {
   from {
      transform: scaleY(0);
   }
   to {
      transform: scaleY(1);
   }
}
