.login,
.register {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.login form,
.register form {
   border-radius: var(--border-radius);
   display: flex;
   flex-direction: column;
   gap: 1rem;
   width: 400px;
}

.login .form-container {
   height: 175px;
}

.login .form-container,
.register .form-container {
   display: flex;
   justify-content: center;
   flex-direction: column;


   background: var(--color-primary);
   border-radius: var(--border-radius);
   padding: 2rem;
   gap: 1.5rem;
}

.login input,
.register input {
   outline: none;
   border: none;
   border-bottom: 1px solid var(--gray-2);
   transition: border-color 0.3s;
   padding-bottom: 0.5rem;
   color: var(--gray);
}

.login input:focus,
.register input:focus {
   border-color: var(--primary);
}

.login input::placeholder,
.register input::placeholder {
   color: var(--gray);
}
