.login,
.register {
   display: flex;
   justify-content: center;
   align-items: center;
}

.login form,
.register form {
   width: 500px;
}

.button-login {
   border-radius: var(--border-radius);
   padding: 10px 20px;
   cursor: pointer;
   box-shadow: var(--box-shadow);
}