@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
@import "./reset.css";
@import "./variables.css";
@import "./navbar.css";
@import "./sidebar.css";
@import "./home.css";
@import "./articles.css";
@import "./security.css";
@import "./comments.css";
@import "./users.css";
@import "./profile.css";
@import "./footer.css";

body {
   font-family: "Montserrat", sans-serif;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   background: var(--gray-light);
   font-size: 0.9rem;
   color: var(--gray);
}

.logo {
   width: 150px;
}

.logo-container {
   display: flex;
   margin-left: 1rem;
}

.container {
   align-items: center;
   display: flex;
   max-width: 1200px;
   width: 100%;
   margin: 3rem auto;
   display: flex;
   flex: 1;
}

.main-container {
   width: 100%;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}

.error {
   color: var(--warning);
   border-radius: var(--border-radius);
   font-size: 0.7rem;
}

.success {
   width: max-content;
   color: var(--success);
   border-radius: var(--border-radius);
   font-size: 0.7rem;
}

.mt-10 {
   margin-top: 10px;
}
.mt-30 {
   margin-top: 30px;
}
.ml-10 {
   margin-left: 10px;
}
.mb-10 {
   margin-bottom: 10px;
}

input,
textarea {
   font-size: 1.1rem;
   font-family: "montserrat";
}

/* BUTTON */
.button {
   border-radius: var(--border-radius);
   padding: 10px 20px;
   cursor: pointer;
   transition: background 0.3s, color 0.3s, border 0.3s;
   width: max-content;
   font-family: "Montserrat", sans-serif;
}

.button-primary,
.button-primary-stroke {
   border: 1px solid var(--primary);
}

.button-primary {
   color: var(--color-primary);
   background-color: var(--primary);
   border: 1px solid var(--primary);
}

.button-primary-stroke {
   color: var(--primary);
   background-color: var(--color-primary);
}

.button-primary:hover,
.button-primary-stroke:hover {
   background: var(--primary-light);
   color: var(--primary);
   border-color: transparent;
}

.button-danger {
   color: var(--color-primary);
   background-color: var(--warning);
   font-weight: 600;
   border: 1px solid var(--warning);
}

.button-danger:hover {
   color: var(--color-primary);
   background-color: var(--warning-light);
   border-color: transparent;
}

@media only screen and (max-width: 600px) {
   .logo {
      width: 100px;
   }
   .button {
   
      padding: 5px;
   }
}
