.users {
   display: flex;
   justify-content: center;
}

.users table {
   background: var(--color-primary);
   width: 75%;
   border-collapse: collapse;
   border: 1px solid var(--primary);
}

.users table thead tr:nth-child(1) {
   background: var(--primary);
   color: var(--color-primary);
}

.users table tbody tr:nth-child(even) {
   background: var(--gray-light);
}

.users table td,
.users table th {
   text-align: center;
   padding: 1rem 0;
   border-left: 1px solid var(--primary);
}

@media only screen and (max-width: 600px) {
   .users {
      padding: 0 1rem;
      color: red;
      font-size: 0.6rem;
   }
   .users table {
      width: 100%;
   }
   .users table .table-button{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.25rem;
      padding: 0.25rem;
   }
}
