:root {
  --primary:#12CBC4;
  --primary-light:#E7F9F9;
  --accent:#0652DD;
  --warning:#EA2027;
  --warning-light:#ec9ea0;
  --success:#009432;
  --font-family:'Open Sans', sans-serif;
  --box-shadow:0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  --border-radius: 3px;
  --gray-light:#ecf0f1;
  --border:1px solid var(--gray-light);
  --color:#636466;
  --color-dark:#444;
  --color-primary:white;
  --gray:#636466;
  --gray-dark:#444;
  --max-width:1200px;
  --footer-background:#0a3d62;
  --font-size-small:14px;
  --font-size-regular:16px;
  --font-weight-regular: 400;
  --font-weight-semi-bold:600;
  --font-weight-bold:700;
}